.seeMyWork{
    color: white;
    margin-right: 8px;
    position: relative;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.seeMyWorkCircle{
    position: absolute;
    top: -61%;
    left: -10%;
    background-color: #c3bfbf80;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: all 0.5s ease-in-out;
}
.seeMyWork:hover .seeMyWorkCircle{
    width: 130px;
    border-radius: 10px;
}
.container{
    width: 100%;
    height: 110vh;
    /* height: 65vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: black;
}
.imageContainer{
    max-width: 45rem;
    max-height: 12rem;
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.imageContainer img{
    width: 100%;
    height: 100%;
}
.freelanceWork{
    color: #464646;
    font-size: 20px;
    margin: 2rem 0;
}


.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    max-width: 25rem;
    min-width: 17rem;
}

.circles{
    position: absolute;
    left: -19%;
    bottom: -50%;
    z-index: -1;
}
.circleOne{
    position: relative;
    width: 528px;
    height: 531px;
    border-radius: 50%;
    background-color: white;
}
.circleTwo{
        /* position: absolute; */
        width: 527px;
        height: 524px;
        border-radius: 50%;
        background-color: rgb(0 0 0);
}

@media screen and (max-width:640px){
    .freelanceWork{
        font-size: 17px;
    }
}